synapse/pipeline/PL - Load to Warehouse.json
{
	"name": "PL - Load to Warehouse",
	"properties": {
		"activities": [
			{
				"name": "Get SQL Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [name] as tableName, SCHEMA_NAME(schema_id) FROM sys.tables\nWHERE SCHEMA_NAME(schema_id) = '@{pipeline().parameters.databaseSchema}'\nORDER BY 1 DESC;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_generic",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "placeholder",
							"databaseSchema": "placeholder"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ingest Data for Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get SQL Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SQL Table Names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ingest SQL Source to Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_synw_csv",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@{pipeline().parameters.dataSourceID}/@{pipeline().parameters.databaseSchema}/@{item().tableName}/@{formatDateTime(pipeline().parameters.dateAndTimeOfImport, 'yyyy/MM/dd')}",
											"type": "Expression"
										},
										"filePath": {
											"value": "@{item().tableName}_@{formatDateTime(pipeline().parameters.dateAndTimeOfImport, 'yyyyMMdd-hhmmss')}.csv",
											"type": "Expression"
										},
										"tier": "silver"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_synw_csv",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@{pipeline().parameters.dataSourceID}/@{pipeline().parameters.databaseSchema}/@{item().tableName}/@{formatDateTime(pipeline().parameters.dateAndTimeOfImport, 'yyyy/MM/dd')}",
											"type": "Expression"
										},
										"filePath": {
											"value": "@{item().tableName}_@{formatDateTime(pipeline().parameters.dateAndTimeOfImport, 'yyyyMMdd-hhmmss')}.csv",
											"type": "Expression"
										},
										"tier": "dummy"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"databaseSchema": {
				"type": "string"
			},
			"dataSourceID": {
				"type": "string"
			},
			"dateAndTimeOfImport": {
				"type": "string"
			}
		},
		"variables": {
			"queryText": {
				"type": "String"
			}
		},
		"folder": {
			"name": "P03 - Load to Warehouse"
		},
		"annotations": []
	}
}